body {
      text-align: center;
      color: black;
      font-family: helvetica;
      background: white;
    }
    p {
      font-size: 50px;
      text-align: center;
      background-size: cover;
      background-position: center;
      color: black;
      font-family: Courier;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }

  h1{
    font-family: Courier;
    text-align: center;
    font-size: 100px;
    color: black
  }
  * {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

img{
